body {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Archivo';
  font-weight: 400;
  background-color: #333;
  /* max-width: 1280px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.card {
  display: inline-block;
  width: 140px;
  height: 300px;
  background: #484848;
  padding: 0.1rem;
  padding-top: 0.25rem;
  margin: 0.3rem;
  vertical-align: top;
  overflow: hidden;
}

.card img, .emptyposter {
  object-fit: contain;
  width: auto;
  height: 192px;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 0.2rem;
  /* background-color: #333; */
}

.emptyposter {
  background: #ccc;
}

h3 {
  font-weight: 900;
}

.saira-main-title {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: calc(38.4vw - 1.1rem);
  line-height: 80%;
  letter-spacing: -1vw;
  font-variation-settings:
    "wdth" 50;
}

.saira-main-subtitle {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: calc(7.4vw - 0.2rem);
  font-style: normal;
  line-height: 80%;
  font-variation-settings:
    "wdth" 50;
}

.saira-card-title {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 120%;
  line-height: 1.4rem;
  font-variation-settings:
    "wdth" 100;
}

.narrow-95 { font-variation-settings: "wdth" 95; font-weight: 500; font-size: 121% }
.narrow-90 { font-variation-settings: "wdth" 90; font-weight: 525; font-size: 122% }
.narrow-85 { font-variation-settings: "wdth" 85; font-weight: 550; font-size: 123% }
.narrow-80 { font-variation-settings: "wdth" 80; font-weight: 575; font-size: 124% }
.narrow-75 { font-variation-settings: "wdth" 75; font-weight: 600; font-size: 125% }
.narrow-70 { font-variation-settings: "wdth" 70; font-weight: 625; font-size: 126% }
.narrow-65 { font-variation-settings: "wdth" 65; font-weight: 650; font-size: 127% }
.narrow-60 { font-variation-settings: "wdth" 60; font-weight: 675; font-size: 128% }
.narrow-55 { font-variation-settings: "wdth" 55; font-weight: 700; font-size: 129% }
.narrow-50 { font-variation-settings: "wdth" 50; font-weight: 700; font-size: 130% }

.saira-year {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 180%;
  font-variation-settings:
    "wdth" 100;
}

.saira-maker {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-variation-settings:
    "wdth" 80;
}

